.home-title{
    font-size: 3.5rem;
    letter-spacing: 1rem;
    margin-top: 5rem;
}

.login-wrapper{
    margin: 50px auto;
    width: 600px;
    flex-direction: column;
    gap: 1rem;
}

.login-wrapper .signup-btn{
    cursor: pointer;
    color: black;
}

.login-wrapper .signup-btn:hover{
    text-decoration: underline;
}

.login-wrapper h4{
    font-size: 2rem;
    letter-spacing: 0.3rem;
}